@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 45%
    left: -16%
    width: 35%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 66%
    right: 55%
    width: 13%

  &-3
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 2%
    width: 17%

  &-4
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 56%
    right: -5%
    width: 26%

  &-5
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 78%
    right: 11%
    width: 15%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal .tarjeta
  background-position: left 50%
  @media screen and (max-width: $bp-max-lg)
    background-position: 30% 50% !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: #fff !important

.banner-interno__titulo__icono i
  color: #c2e5f0

figcaption
  font-weight: normal

.banner-principal__row .banner-principal__img
  width: 450px !important
  // padding-right: 0 !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important
    // padding-right: 0 !important

.banner-interno__fondo
  background-image: url("../assets/curso/banner_interno.png") !important

.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-md)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
  @media screen and (max-width: $bp-max-xs)
    background-image: url("../assets/curso/portada/fondo-banner-principal-xs.png") !important

.text-end
  text-align: left !important

/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
// .p-full-width
//   padding: 3rem 3.5rem!important
// .bg-full-width
//   background-size: cover
//   background-repeat: no-repeat
//   background-position: bottom
//   margin-inline: -3.3rem
// .bg-fondo
//   &-1
//     //background-image: url(../assets/curso/bg/3.svg)
// .bg-color
//   &-1
//     background-color: $color-primario

/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em !important

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em !important
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important

//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em !important

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em !important

.text-end
  text-align: left !important

//////// Card hover ////////////
.crd_hover_txt
  position: relative
  padding: 0 !important
  overflow: hidden !important
  &:hover
    .crd_hover_txt--body
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
      transform: translateY(0)
      background-color: #FFF56A
      // opacity: 0.8
      h4
        color: $color-sistema-texto

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: #FFF56A
    &.bg-color-2
      background-color: #DEF1CB
    // text-align: center

    &.pd-1-3
      padding: 1rem !important
    &.pd-1-2
      padding: 1rem !important
      @media screen and ( max-width: $bp-max-sm )
        &.pd-1-2
          padding: 1.2rem !important

  @media (min-width:1200px) and (max-width:1400px)
    .crd_hover_txt--body
      p
        // 14px en em
        font-size: 0.9em

  @media screen and ( max-width: $bp-max-sm )
    .crd_hover_txt--body
      p
        // 14px en em
        font-size: 0.9em

//////////////CUSTOM AVATAR-LEFT//////////////
.tarjeta-avatar-b__img
  min-width: 85px
  align-items: flex-start
  // top: -80px
  @media screen and ( max-width: $bp-max-sm )
    min-width: 80px !important
    top: 0px
.tarjeta--azul
  background-color: #F4ECE4

//////////CUSTOM TARJETA AVATAR TOP////////////
.tarjeta-avatar
  padding-top: 50px
.tarjeta-avatar .tarjeta
  padding-top: 20px !important
  width: 100%
.tarjeta-avatar > img
  left: 50%
  top: 0
  width: 83px

///////////////CUSTOM LINEA TIEMPO C//////////
.linea-tiempo-c__header__btn--right, .linea-tiempo-c__header__btn--left
  background-color: #FF7027
  color: #fff
.tiempo-c__header__item__line-container:after, .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container:after, .linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container:before,
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__line-container:before, .linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot:after
  background-color: #FCAD53 !important
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__dot, .linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot
  border-color: #FCAD53

.tiempo-c__header__item__line-container:after, .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container:after, .linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container:before, .linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__line-container:before, .linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot:after
  background-color: #FCAD53

.linea-tiempo-c__header__btn:hover, .pasos-b__header__btn--left:hover, .pasos-b__header__btn--right:hover, .linea-tiempo-c__header__btn--left:hover, .linea-tiempo-c__header__btn--right:hover
  border-color: #FF7027

// Global text styles
figcaption
  font-weight: normal

// Background Colors
.bg-color-primario
  background-color: #DBF8F6

.bg-color-primario-p20
  background-color: #EDFBFA

.bg-color-secundario
  background-color: #FFF5C4

.bg-color-terciario-t10
  background-color: #F1F3FB

.hover-color-primario
  transition: all 0.3s ease
  &:hover
    background-color: #EDFBFA

.bg-color-terciario-t5
  background-color: #E9F5FB
  &.cajon
    &::before
      background-color: #8C8FEC

.bg-color-c1
  background-color: #D6E1F7
  &.cajon
    &::before
      background-color: #7B8FBC

.bg-color-c2
  background-color: #FFF6F9
  &.cajon
    &::before
      background-color: #FFA4C7

.bg-color-c3
  background-color: #EEF6FF
  &.cajon
    &::before
      background-color: #5AA6FF

.bg-color-white
  background-color: white !important
  border: 1px solid $lightest-gray
.bg-color-18
  background-color: #AAE5D3

.bg-color-11
  background-color: #E8F1FE

.bg-color-97
  background-color: #BBD6FC

.bg-color-54
  background-color: #F2F8FE

.border-color-primario
  border: 1px solid #17C1C1 !important

.br-10
  border-radius: 10px !important

// Background Images
.bg-full-width
  margin: 0 -3em
  padding: 0 3rem
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  @media screen and (max-width: $bp-max-sm)
    padding-left: 3rem
    padding-right: 3rem

.bg-fondo-1
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 12%, rgba(255, 255, 255, 0) 88%, rgba(255, 255, 255, 1) 100%), url("../assets/curso/tema5/bg01.png") !important
  // background-image: url("../assets/curso/tema1/bg01.png") !important
  background-position: center
  background-size: cover

.bg-fondo-2
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 12%, rgba(255, 255, 255, 0) 88%, rgba(255, 255, 255, 1) 100%), url("../assets/curso/tema5/bg02.png") !important
  // background-image: url("../assets/curso/tema1/bg01.png") !important
  background-position: center
  background-size: cover

// .bg-fondo-2
//   background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 12%, rgba(255, 255, 255, 0) 88%, rgba(255, 255, 255, 1) 100%), url("../assets/curso/tema1/bg02.png") !important
//   // background-image: url("../assets/curso/tema1/bg01.png") !important
//   background-position: center
//   background-size: cover

// .bg-fondo-2
//   // background-image: url("../assets/curso/tema1/img24.png") !important
//   background-position: center
//   background-size: cover
//   border-radius: 25px
//   @media screen and (max-width: $bp-max-sm)
//     border-radius: 15px

.bg-fondo-010
  // background-image: url("../assets/curso/tema3/bg05.png") !important
  background-position: 50%
  border-radius: 15px
  background-size: cover
  background-size: 100% 100%

.bg-fondo-4
  // background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 12%, rgba(255, 255, 255, 0) 88%, rgba(255, 255, 255, 1) 100%), url("../assets/curso/tema1/img13.png") !important
  background-position: center
  background-size: cover

.bg-fondo-01
  background-image: url("../assets/curso/intro/bg01.png") !important
  background-position: center
  background-size: cover
  // border-radius: 15px

.bg-fondo-02
  position: relative
  // background-image: url("../assets/curso/tema2/img12.png") !important
  background-position: center
  background-size: 100% 100%
  border-radius: 15px
  // width: 92%
  @media screen and (max-width: $bp-max-md)
    width: 100%

.bg-fondo-02_2
  position: relative
  // background-image: url("../assets/curso/tema2/img12.png") !important
  background-position: center
  background-size: 100% 100%
  border-radius: 15px
  width: 92%
  @media screen and (max-width: $bp-max-md)
    width: 100%

.bg-fondo-03
  background-image: url("../assets/curso/intro/bg02.png") !important
  background-position: center
  background-size: cover
  border-radius: 15px

.bg-fondo-04
  background-image: url("../assets/curso/intro/bg03.png") !important
  background-position: center
  background-size: cover
  border-radius: 15px

.bg-fondo-05
  background-image: url("../assets/curso/tema1/img11.png") !important
  background-position: center
  background-size: cover
  border-radius: 15px

.bg-fondo-07
  background-image: url("../assets/curso/tema2/img03.png") !important
  background-position: center
  background-size: cover
  border-radius: 15px

.bg-fondo-08
  background-image: url("../assets/curso/tema3/img15.png") !important
  background-position: center
  background-size: cover
  border-radius: 15px

.bg-fondo-09
  background-image: url("../assets/curso/tema4/img03.png") !important
  background-position: center
  background-size: cover
  border-radius: 15px

.bg-fondo-11
  // background-image: url("../assets/curso/tema2/img18.png") !important
  background-position: center
  background-size: cover
  border-radius: 15px

.bg-fondo-6
  // background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 12%, rgba(255, 255, 255, 0) 88%, rgba(255, 255, 255, 1) 100%), url("../assets/curso/tema2/bg07.png") !important
  background-position: center
  background-size: cover

.bg-fondo-7
  // background-image: url("../assets/curso/tema1/img04.png") !important
  background-position: center
  background-size: cover

.bg-fondo-8
  // background-image: url("../assets/curso/tema2/img13.png") !important
  background-position: center
  background-size: cover

.bg-fondo-9
  // background-image: url("../assets/curso/tema2/img25.png") !important
  background-position: center
  background-size: cover

.bg-fondo-10
  // background-image: url("../assets/curso/tema4/img12.png") !important
  background-position: center
  background-size: cover

.bg-fondo-11
  // background-image: url("../assets/curso/tema3/img10.png") !important
  background-position: center
  background-size: cover

.bg-fondo-12
  // background-image: url("../assets/curso/tema3/img03.png") !important
  background-position: center
  background-size: cover

.bg-fondo-13
  // background-image: url("../assets/curso/tema3/img05.png") !important
  background-position: center
  background-size: cover

.bg-fondo-14
  // background-image: url("../assets/curso/tema3/img14.png") !important
  background-position: center
  background-size: cover

.bg-fondo-15
  // background-image: url("../assets/curso/tema4/img14.png") !important
  background-position: center
  background-size: cover

.bg-fondo-16
  // background-image: url("../assets/curso/tema4/img03.png") !important
  background-position: center
  background-size: cover

.bg-fondo-17
  // background-image: url("../assets/curso/tema4/img09.png") !important
  background-position: center
  background-size: cover

.bg-tarjeta
  border-radius: 15px
  // background-image: url("../assets/curso/bg-tarjeta-l.png") !important
  background-position: bottom
  background-size: cover
  @media screen and (max-width: $bp-max-md)
    // background-image: url("../assets/curso/bg-tarjeta-m.png") !important

.br-10
  border-radius: 10px !important

.br-15
  border-radius: 15px !important

.br-25
  border-radius: 0px 0px 25px 25px !important

.bg-fondo-1-2
  // background-image: url("../assets/curso/bg/bg2.png") !important
  background-position: bottom
  background-size: cover

.bg-fondo-2-1
  // background-image: url("../assets/curso/bg/bg3.png") !important
  background-position: bottom
  background-size: cover

.bg-fondo-2-2
  // background-image: url("../assets/curso/bg/bg4.png") !important
  background-position: center
  background-size: cover

.bg-fondo-2-3
  // background-image: url("../assets/curso/bg/bg4.png") !important
  background-position: top center
  background-size: cover

.bg-fondo-3-1
  // background-image: url("../assets/curso/bg/bg5.png") !important
  background-position: top center
  background-size: cover

.bg-fondo-4-1
  // background-image: url("../assets/curso/bg/bg6.png") !important
  background-position: top center
  background-size: cover

.bg-fondo-sintesis
  // background-image: url("../assets/curso/bg/bg7.png") !important
  background-position: top
  background-size: contain

.bg-fondo-3
  // background-image: url("../assets/curso/bg3.png") !important
  background-position: bottom

.bg-fondo-5
  // background-image: url("../assets/curso/tema2/img18.png") !important
  background-position: top
  background-size: cover

// Bloque Texto B
.bloque-texto-b
  i
    color: $color-secundario
  &.color-terciario
    &:before
      background-color: #D1D2F7

.bloque-texto-b.color-1
  &:before
    background-color: #E5EFFB

// Icono Inferior Derecha
.icono-inferior
  position: relative
  &::before
    content: ""
    position: absolute
    width: 107px
    height: 128px
    bottom: 10px
    right: 5px
    // background-image: url("../assets/curso/tema1/img03.png")
    background-size: contain
    background-repeat: no-repeat
    z-index: 10
    @media (max-width: 768px)
      right: -20px
      bottom: -20px

// Tabs A
.tabs-a__tab
  background-color: #FFFBC3 !important
  white-space: normal
  height: stretch
.tabs-a.color-acento-botones .tabs-a__tab__selected
  background-color: #FFF56A !important
  color: #12263F
.tabs-a__content-item
  display: flex
  // height: fit-content
  height: 97%
.tabs-a
  .row
    .mb-3
      margin-bottom: 0.5rem!important

  &.color-terciario
    .tabs-a__tab__selected,
    .tabs-a__tab__selected:before,
    .tabs-a__tab:hover
      background-color: #FF7027

  // Ajuste tamaño contenedor izquierdo Tabs A
  @media (min-width: 1200px)
    .row
      .col-xl-3
        flex: 0 0 auto
        width: 40%
      .col-xl-9
        flex: 0 0 auto
        width: 60%
  @media (min-width: 992px)
    .row
      .col-lg-3
        flex: 0 0 auto
        width: 40%
      .col-lg-9
        flex: 0 0 auto
        width: 60%

@media (min-width: 992px)
  .tabs-a .row .col-lg-4
    flex: 0 0 auto
    width: 40% !important
  .tabs-a .row .col-lg-8
    flex: 0 0 auto
    width: 60% !important

.tabs-a.tabs_x3
  .tarjeta
    height: auto
  @media (min-width: 992px)
    & > .row > .col-lg-4, & > .row > .col-xl-3
      flex: 0 0 auto !important
      width: 20% !important
    & > .row > .col-lg-8, & > .row > .col-xl-9
      flex: 0 0 auto !important
      width: 80% !important
  @media (max-width: 768px)
    & > .row > .col-lg-4, & > .row > .col-lg-8
      width: 100% !important

// .tabs-a.row_x1
//   @media (min-width: 992px)
//     & > .row > .col-lg-4, & > .row > .col-xl-3
//       flex: 0 0 auto !important
//       width: 40% !important
//     & > .row > .col-lg-8, & > .row > .col-xl-9
//       flex: 0 0 auto !important
//       width: 60% !important
//   @media (max-width: 768px)
//     & > .row > .col-lg-4, & > .row > .col-lg-8
//       width: 100% !important

// Tabs C
.tabs-c__tab
  border-top: none !important
  border-bottom: 4px solid transparent !important
  background-color: #FFF6EA !important
.tabs-c__tab:after
  background-color: #E8E8E8 !important
  width: 1px !important
  color: #111E61 !important
  height: 70% !important
.tabs-c__tab--active
  border-bottom: 4px solid #74A2F2 !important
  background-color: #FFF6EA !important
  span
    font-weight: bold
    color: #111E61 !important
.tabs-c__tab--active:before
  border-top-color: #74A2F2 !important
.tabs-c.color-primario .tabs-c__tab--active
  border-bottom-color: #74A2F2 !important
.tabs-c.color-primario .tabs-c__tab--active:before
  border-top-color: #74A2F2 !important
.tabs-c.color-acento-botones .tabs-c__tab--active
  border-bottom-color: #74A2F2 !important
.tabs-c.color-acento-botones .tabs-c__tab--active:before
  border-top-color: #74A2F2 !important
.tabs-c__content-item
  background-color: #F8F8F8 !important
  background-size: cover
.tabs-c__header
  margin-bottom: 0

// // Acordion
// .acordion
//   .tarjeta
//     margin-bottom: 0.5rem!important
//     padding: 0.75rem!important
//     .acordion__header
//       margin-bottom: 0rem!important
//     .mb-md-4
//       padding-bottom: 0rem!important
//     .acordion__contenido
//       height: auto
//       padding-left: 3.5rem
//     .acordion__contenido__item
//       padding-bottom: 0rem!important
//     &--azul
//       background-color: #DBF8F6 !important
//       p,h3
//         color: #12263F
//     &--azul.acordion__activo
//       background: #F5F5F5 !important
//       p,h3
//         color: #12263F
//       .acordion__accion__btn--a
//         background: #F5F5F5

// // Acordion Custom Colors
// .acordion__accion__btn--a
//   background-color: #FFD256 !important
// .acordion__activo
//   background-color: #E2E7F7 !important
// .acordion_titulo
//   color: #fff !important
// .acordion__titulo
//   h3
//     color: $color-sistema-texto !important

/////////////ACORDION/////////////
.acordion__accion__btn--a
  background-color: #FF7027 !important

.acordion__activo
  // background-image: url("../assets/curso/tema2/img19.png") !important
  background-size: cover
  background-position: center
  background-color: #F9F5FF !important
  &.azul
    background-color: #DFF5FB !important

.acordion_titulo
  color: #fff !important
.acordion__titulo
  h3
    color: $color-sistema-texto !important
.acordion__activo
  .acordion__titulo
    h3
      color: $color-sistema-texto !important
  &.bg-color-nuevo
    background-color: #F7F6E6 !important
    .acordion__accion__btn--a i, .acordion__accion__btn--b i
      color: $color-sistema-texto

// Slyder F
.slyder-f
  align-items: center
  .slyder-f__main
    width: 70%
    @media (min-width: 769px)
      width: 80%
  .slyder-f__btn
    height: 35px
    width: 35px
    max-width: 35px
    background-color: #557260
    border-radius: 50%
    padding: 0 !important
    margin: 0 auto
    .fa-chevron-left, .fa-chevron-right
      font-size: 20px

// Tarjeta Horizontal
.tarjeta-horz
  display: flex
  flex-direction: column
  align-items: center
  .texto-tarjeta
    width: 70%
    margin: -5em 0 auto 0
    padding: 1.5em
    box-shadow: 0 2px 5px rgba(0,0,0,0.17)
    border-radius: 0.5em
    z-index: 10
    position: relative
    @media (max-width: 768px)
      margin-top: -3rem
      width: 96%

// Bullets (Listados)
.bullets
  li
    text-align: left
    padding-left: 1rem
    padding: 0px 0 0px 0.5rem
    background-position: 0px 7px

.bullets
  list-style: disc
  padding-left: 1.5rem

.bullets.color-primario li::marker
  color: #2D847E
  font-size: 1.5rem

.bullets.color-secundario li::marker
  color: #435283
  font-size: 1.5rem

.bullets.color-adicional1 li::marker
  color: #596DAF
  font-size: 1.5rem

// Titulo Sexto
.titulo-sexto
  h5
    font-weight: 400

// Utilities
a, button, div
  -webkit-tap-highlight-color: transparent

.box-shadow
  background-color: #ffffff
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1)
  padding: 20px
  border-radius: 8px

// Linea Tiempo D Custom
.linea-tiempo-d__item.row.linea-tiempo-d__item--selected
  .col-auto.linea-tiempo-d__item__col-number
    .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
      background-color: #FF7027 !important
      color: $color-sistema-texto

.linea-tiempo-d__item.row.linea-tiempo-d__item--selected
  .col
    .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
      background-color: #EAF1FA
      background-size: cover
      background-position: center

.linea-tiempo-d__item.row:not(.linea-tiempo-d__item--selected)
  .col-auto.linea-tiempo-d__item__col-number
    .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
      background-color: #DEE4F0
    .linea-tiempo-d__item__dots:after
      border-left: 4px dotted #B3B2D4 !important
  .col
    .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
      background-color: #F0F0F0 !important

.linea-tiempo-d__item__content__title
  @media screen and ( max-width: $bp-max-xs )
    height: 55px

.color-2

  // Linea Tiempo D Custom
  .linea-tiempo-d__item.row.linea-tiempo-d__item--selected
    .col-auto.linea-tiempo-d__item__col-number
      .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
        background-color: #FF7027 !important
        color: #fff

  .linea-tiempo-d__item.row.linea-tiempo-d__item--selected
    .col
      .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
        background-color: #FFF6E8
        background-size: cover
        background-position: center

  .linea-tiempo-d__item.row:not(.linea-tiempo-d__item--selected)
    .col-auto.linea-tiempo-d__item__col-number
      .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
        background-color: #DEE4F0
      .linea-tiempo-d__item__dots:after
        border-left: 4px dotted #B3B2D4 !important
    .col
      .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
        background-color: #E8F5D5 !important

.br-01
  background-color: transparent
  border: 2px solid #049767
  border-radius: 10px

.bg-white
  background-color: #ffffff

.bg-color-0
  background-color: #EBF7FF

.bg-color-01
  background-color: #D8F2C6

.bg-color-02
  background-color: #F8A933

.bg-color-05-degrade
  // #FAFAFA y #F5F5F5 
  background: linear-gradient(180deg, #FAFAFA 0%, #F5F5F5 100%)

.bg-color-03
  background-color: #F3FAE9
  &.bg-color-nuevo
    .acordion__accion__btn--a i, .acordion__accion__btn--b i
      color: $color-sistema-texto

.bg-color-04
  background-color: #C49BFF

.bg-color-05
  background-color: #E7D7FF

.bg-color-06
  background-color: #F9F5FF !important

.bg-color-07
  color: #9DDF71

.bg-color-08
  background-color: #FFFEF0

.bg-color-09
  background-color: #FEF6E4

.bg-color-10
  background-color: #EFF5FC

.bg-color-12
  background-color: #FFEFDC

.bg-color-13
  background-color: #B9B9B9 !important
  color: $color-sistema-texto

.bg-color-14
  background-color: #FEFAF1

.bg-color-15
  background-color: #FFF7ED

.br-color-05
  border: 2px solid #5071A8 !important

// Background colors utilities (Keep used ones)
.bg-color-1
  background-color: #EAF1FA

.bg-color-1-degrade
  // #E9F8FC y #E3F1FA lineal vertical
  background: linear-gradient(180deg, #E9F8FC 0%, #E3F1FA 100%)

.bg-color-2
  background-color: #DEF1CB

.bg-color-3
  background-color: #FFFAEE

.bg-color-3-degrade
  // degradado lineal DEDEDE y #FFFFFF vertical
  background: linear-gradient(180deg, #DEDEDE 0%, #FFFFFF 50%, #DEDEDE 100%) !important

.bg-color-4
  color: #9EC9FF !important

.bg-color-5
  background-color: #F4ECE4
  &.cajon
    &::before
      background-color: #C5A07A

.bg-color-6
  background-color: #F2F8F2

.bg-color-7
  background-color: #F7FCF2

.bg-color-8
  background-color: #F6F6F6

.bg-color-31
  background-color: #FFE7DB

.bg-color-17
  color: #17C1C1 !important
.bg-color-18
  background-color: #455BB5 !important

.bg-color-19
  background-color: #F9F2D6

.bg-color-20
  color: #6F88DA !important

.bg-color-21
  background-color: #E1E9C2 !important

.tarjeta.bg-color-21:hover
  background-color: #E3F1FA !important

.bg-color-22
  background-color: #D4D9E0

.bg-color-27
  background-color: #C5A07A

.bg-color-23
  background-color: #F7FAEF !important
  &.cajon
    &::before
      background-color: #B3C867
.bg-color-24
  background-color: #F8FCFE !important
  &.cajon
    &::before
      background-color: #B8DCF3

.bg-color-9
  background-color: #F5F7FD
  &.cajon
    &::before
      background-color: #FEC190

.bg-color-74
  background-color: #E9F8FC
  &.cajon
    &::before
      background-color: #2EBDE1

// Tarjetas bg
.bg-acento-contenido
  background-color: #C5CFF0
.bg-acento-contenido-p10
  background-color: #C5CFF0

.tarjeta.color-acento-botones--borde
  background-color: #FFF6E8
  // background-image: url("../assets/curso/tema1/bg04.png") !important
  background-size: cover
  background-position: buttom
  color: #000
  border: solid 1px transparent !important

.tabs-a.color-acento-botones .tabs-a__tab__selected:before
  background-color: #FFF56A !important

.tabs-a.color-acento-botones .tabs-a__tab__selected:hover
  background-color: #FFF56A !important

.tabs-a.color-acento-botones .tabs-a__tab:hover
  background-color: #FFF56A !important
  color: $color-sistema-texto !important

  //////////////CUSTON SLYDER-A////////
.slyder-a__bullets__item
  background-color: #9DDF71
  border: #9DDF71
.slyder-a__bullets__item--active
  background-color: #9DDF71
.slyder-a__btn--atrs, .slyder-a__btn--sigt
  background-color: #557260
  opacity: 1 !important
.slyder-a__bullets__item
  @media screen and ( max-width: $bp-max-xs )
    margin: 0 5px

.slyder-a__tipo-b
  @media screen and (max-width: $bp-max-md)
    padding: 13px !important
  @media screen and (max-width: $bp-max-xs)
    padding: 13px !important

  /////////IMG_100%_CAJON_MEDIO/////////
.pst
  position: relative
  z-index: 2
.banner-text
  background-color: #FFFFFF !important
  border-radius: 10px
  padding: 50px
  margin-top: -60px
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  padding: 20px
  border-radius: 8px; /* Opcional, para bordes redondeados */

  @media screen and (max-width: $bp-max-sm)
    margin-top: -10px

.tabla-a thead
  background-color: #FFFAEE
.tabla-a.color-acento-contenido thead
  border-color: #AEA30C !important

.tabla-a td
  text-align: start !important

.border-radius-20
  border-radius: 20px

  //CLASES TITULOS//
.titulo-con-imagen
  display: flex
  align-items: center

.titulo-con-imagen__fondo
  // dergadado lineal #C7D9F9 y #F0F5FD 180deg
  background: linear-gradient(to right, #E7D7FF 0%, #F9F5FF 100%)
  // background-color: #EBCB93
  border-radius: 18px
  padding: 10px 25px 10px 20px
  display: inline-flex
  align-items: center
  margin-left: -4px

.titulo-con-imagen__fondo_2
  // dergadado lineal ##D8F2C6 y ##F9F5FF 180deg
  background: linear-gradient(to right, #D8F2C6 30%, #F9F5FF 60%)
  // border: 1px solid #D1B8FA
  border-radius: 18px
  padding: 10px 25px 10px 20px
  display: inline-flex
  align-items: center
  margin-left: -11px
.titulo-con-imagen__texto_2
  margin: 0
  // padding-left: 70px
  position: relative
  &::before
    content: ""
    position: absolute
    right: -4px
    bottom: -40%
    transform: translateY(50%)
    width: 40px
    height: 30px
    // background-image: url("../assets/curso/icono-subtitulo.svg")
    background-size: 100% 100%

.titulo-con-imagen__imagen
  position: absolute
  left: -8px
  width: 85px
  @media screen and (max-width: $bp-max-md)
    width: 70px

.titulo-con-imagen__texto
  margin: 0
  padding-left: 70px
  position: relative
  // &::before
  //   content: ""
  //   position: absolute
  //   right: -4px
  //   bottom: -40%
  //   transform: translateY(50%)
  //   width: 40px
  //   height: 30px
  //   background-image: url("../assets/curso/icono-subtitulo.svg")
  //   background-size: 100% 100%

.img-topright
  padding: 4.5rem 2rem 3rem !important
  position: relative
  img
    position: absolute
    top: 1rem
    right: 2rem

// ---- Subtitulos ----- //
.subtitle
  // background: #F1F3FB url('../assets/curso/tema3/titulo.png')
  background-size: cover
  background-position: right
  border-top-right-radius: 20px
  border-bottom-right-radius: 20px
  display: inline-block
  padding: 10px 20px 10px 45px
  padding-right: 50px
  position: relative

  .image
    position: absolute
    width: 20px
    top: 0px
    right: -8px

.tarjeta .azul
  .acordion .tarjeta
    background-color: #EAF1FA !important

.acordion .tarjeta .acordion__contenido
  padding-left: 0px !important
.acordion__accion__btn--b
  background-color: #557260 !important
  border: 1px solid #557260 !important
.acordion__accion__btn--a i, .acordion__accion__btn--b i
  color: #FFF

.lista-ul
  li
    display: flex !important
    align-items: flex-start
    i:first-child
      margin-top: 3px

.br-tarjeta-lg
  border: 3px #fff solid
  @media screen and ( min-width: $bp-max-md )
    border: 3px #2CBE91 solid

.br-tarjeta-md
  @media screen and ( max-width: $bp-max-md )
    border: 3px #2CBE91 solid

.titulo-sexto.color-acento-contenido
  border-left-color: #F8A933

.lista-ul li i:first-child, .lista-ul--separador li i:first-child, .lista-ul--color li i:first-child
  margin-top: 7px

.icon-check-custom,
.lista-ul--color li i.fa-circle-check
  // color: red !important
  // background-color: #12263F !important
  border-radius: 50%

.lista-ul--color li i.fa-square,
.fa-square
  color: #74A2F2 !important
  font-size: 0.65rem !important
  margin-top: 4px !important

//// Tarjetas --------------------------------------
.crd
  &.brd--rad
    border-radius: 20px
  &.crd--grayGrad
    padding: 2rem
    height: 100%
    background-color: #FBA717
    border-radius: 15px
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    &:hover
      background: linear-gradient(180deg, rgba(25,137,226,1) 0%, rgba(10,81,139,1) 100%)
      h4, p
        color: white
      .bottomCircle
        &::before
          background-color: #FFD07E
  &.crd--blue
    background-color: #B1DBEA

  &.crd--border
    border: 4px solid $color-acento-botones
    border-radius: 20px

.bottomCircle
  position: relative
  & > *
    position: relative
  &::before
    content: ""
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    width: 115px
    height: 115px
    background-color: #F7FAEF
    border-radius: 999px
.crd--avatarHorizontal
  position: relative
  padding-right: 12rem
  & > *
    position: relative
  h5
    color: #7F4FC7
  p
    margin-bottom: 0
  &::before
    position: absolute
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 60px)
    height: 100%
    background-color: #F7FAEF

  @media (max-width: 1000px)
    padding-right: 2rem

.crd--first, .crd--last
  &::before
    background-color: #F8FCFE !important

.crd--three
  &::before
    background-color: #F8FCFE !important
.crd--four
  &::before
    background-color: #F8FCFE !important

.crd--first
  &::before
    border-top-left-radius: 30px
.crd--fin
  &::before
    border-bottom-left-radius: 30px

.avatar
  position: absolute
  bottom: 0
  right: -4rem
  z-index: 1
  @media (max-width: 1000px)
    display: none

.tarjeta-numerada.color-primario .tarjeta-numerada__numero
  border: 3px #C49BFF solid

.tarjeta-numerada.color-primario
  border: 3px #C49BFF solid

//tarjeta 2
.tarjeta-numerada.color-2 .tarjeta-numerada__numero
  border: 3px #FFF56A solid
  background-color: #FFF56A

.tarjeta-numerada.color-2
  border: 3px #FFF56A solid

//tarjeta 3
.tarjeta-numerada.color-3
  border: 3px #F8A933 solid
  .tarjeta-numerada__numero
    border: 3px #F8A933 solid
    background-color: #F8A933
  .tarjeta-numerada__numero div
    color: #12263F
    background-color: #F8A933

//tarjeta 4
.tarjeta-numerada.color-4
  border: 3px #557260 solid
  .tarjeta-numerada__numero
    border: 3px #557260 solid
    background-color: #557260
  .tarjeta-numerada__numero div
    color: #12263F
    background-color: #557260

//tarjeta 5
.tarjeta-numerada.color-5
  border: 3px #9DDF71 solid
  .tarjeta-numerada__numero
    border: 3px #9DDF71 solid
    background-color: #9DDF71
  .tarjeta-numerada__numero div
    color: #12263F
    background-color: #9DDF71

.tarjeta-numerada.color-primario .tarjeta-numerada__numero div
  color: #12263F

.tarjeta-numerada.color-secundario
  border: 3px #B5BFCC solid
  .tarjeta-numerada__numero
    border: 3px #B5BFCC solid
    background-color: #B5BFCC
  .tarjeta-numerada__numero div
    color: #12263F
    background-color: #B5BFCC
.lista-ul--separador li
  border-bottom: dashed 1px #B0C0D2 !important

// ul
//   .fa-brands:before, .fa-regular:before, .fa-solid:before, .fa:before, .fab:before, .far:before, .fas:before
//     color: #61CCEE

.lista-ol--separador li:last-child, .lista-ul--separador li:last-child
  border-bottom: none !important
  @media screen and ( max-width: $bp-max-md )
    border-bottom: dashed 1px #B0C0D2 !important
    padding-bottom: 15px

.text-bold
  font-weight: 700 !important

.tarjeta-label
  position: relative
  &__img-wrapper
    position: absolute
    top: 50%
    left: 0
    transform: translate(-50%, -50%)
    width: 100px
    height: 100px
    background-color: #E1E7FB
    border-radius: 50%
    border: 5px solid #ffff
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16)
    display: flex
    align-items: center
    justify-content: center
    z-index: 10
    img
      width: 55px
  @media screen and (max-width: $bp-max-sm)
    margin-left: 0 !important
    &__img-wrapper
      position: relative
      left: 0
      top: 0
      transform: none
      margin: 0 auto 1.5rem
      display: flex

.img-85
  max-width: 85px
  margin: 0 auto

.rounded-4
  border-radius: var(--bs-border-radius-xl) !important

.position-relative
  position: relative !important

.position-absolute
  position: absolute !important

.border-color-1
  border: 3px solid #FFC8AC !important

.border-color-3
  border: 3px solid #9EC9FF !important

.border-color-2
  background-color: #E1E7FB !important
  border: 4px solid #FFFFFF !important

.slyder-f .slyder-f__btn
  background-color: #557260

.slyder-f .slyder-f__btn .fa-chevron-left, .slyder-f .slyder-f__btn .fa-chevron-right
  color: #FFFFFF !important

///// slyder --------------------------------------
.tarjeta--slyder
  height: 100%
  background-color: white
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

.custom
  .horizontal-scroll__wrapper
    padding: 2rem 0.5rem

.custom
  .horizontal-scroll
    align-items: stretch !important

.tarjeta-numerada.bg-color-91
  border-color: #FFCD80 !important

.tarjeta-numerada.bg-color-91 .tarjeta-numerada__numero
  background-color: #FFCD80 !important

.tarjeta-numerada.bg-color-4
  border-color: #9EC9FF !important

.tarjeta-numerada.bg-color-4 .tarjeta-numerada__numero
  background-color: #9EC9FF !important

.border-15px-izq
  border-radius: 15px 0 0 15px

.border-15px-der
  border-radius: 0 15px 15px 0
  @media screen and (max-width: $bp-max-md)
    border-radius: 15px 15px 15px 15px

.border-15px-md
  border-radius: 0
  @media screen and (max-width: $bp-max-md)
    border-radius: 0 15px 15px 0

.ml-auto
  margin-left: auto
  margin-right: 0

.tabla3
  padding: 12px 20px !important

.no-pointer .tarjeta--boton
  cursor: initial !important

.boton.w-full
  width: stretch !important

.w-lg-75
  width: 75% !important
  @media screen and (max-width: $bp-max-lg)
    width: 100% !important

.w-md-75
  width: 100% !important
  @media screen and (max-width: $bp-max-md)
    width: 75% !important

.w-md-50
  width: 100% !important
  @media screen and (max-width: $bp-max-md)
    width: 50% !important

.text-left
  text-align: left !important

.audio.color-acento-contenido .audio__btn, .tarjeta-audio.color-acento-contenido .audio__btn, .tarjeta-dialogo.color-acento-contenido .audio__btn
  background-color: #FFA448 !important
  color: #12263F

.tarjeta-audio.color-acento-contenido .tarjeta-audio__input input[type=range]
  background: #74A2F2 !important
.tarjeta-audio.color-acento-contenido .tarjeta-audio__tiempo
  color: $color-sistema-texto
.tarjeta-audio.color-acento-contenido .tarjeta-audio__texto
  color: $color-sistema-texto
.tarjeta-audio.color-acento-contenido
  border-color: #FFA448

.shadow-sm
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12) !important

.tabla-a.tb-custom
  table
    // min-width: 100%
  thead
    border-top: 5px solid #FFFBC3 !important
    background-color: #FFFEF0 !important
    border-bottom: none !important
    border-left: none !important
    border-right: none !important
    th
      color: #12263F !important
      font-size: 1.05em
      font-weight: 700
      text-align: center
      padding: 14px 15px
      border-right: 1px solid #E2D9C8 !important
      border-left: none !important
      border-top: none !important
      border-bottom: none !important
      &:last-child
        border-right: none !important
  tbody
    tr
      border-bottom: none !important
    tr:nth-child(even)
      // background-color: #FFFFFF !important
    tr:nth-child(odd)
      // background-color: #FFFEF0 !important
    td
      // padding: 10px 15px
      text-align: center
      border-right: 1px solid #E2D9C8 !important
      border-left: none !important
      border-top: none !important
      border-bottom: 1px solid #E2D9C8 !important
      &:last-child
        border-right: none !important
      &:first-child
        // font-weight: 700
        color: #12263F

.lista-ol--cuadro__vineta
  background-color: #8AB064

.max-cont-md
  width: max-content
  @media screen and (max-width: $bp-max-lg)
    width: auto

  @media screen and (max-width: $bp-max-md)
    width: auto

.slyder-a__tipo-b .hide
  opacity: 0 !important
  pointer-events: none !important
  visibility: hidden !important

@media (max-width: 992px)
  .bloque-texto-g
    padding-top: 30% !important

.bg-fondo-02:before
  content: ""
  position: absolute
  left: -5rem
  top: 50%
  transform: translateY(-50%)
  width: 25%
  aspect-ratio: 749 / 528
  // background-image: url("../assets/curso/tema2/img11.png")
  background-size: contain
  background-repeat: no-repeat
  background-position: right center
  z-index: 1

  @media screen and (max-width: $bp-max-md)
    display: none

.bg-fondo-02_2:before
  content: ""
  position: absolute
  right: -5rem
  top: 50%
  transform: translateY(-50%)
  width: 25%
  aspect-ratio: 749 / 528
  // background-image: url("../assets/curso/tema2/img11.png")
  background-size: contain
  background-repeat: no-repeat
  background-position: right center
  z-index: 1

  @media screen and (max-width: $bp-max-md)
    display: none

.ml-11
  margin-left: 11rem
  @media screen and (max-width: $bp-max-lg)
    margin-left: 6rem
  @media screen and (max-width: $bp-max-md)
    margin-left: 0

.ft-1
  @media screen and (max-width: $bp-max-sm)
    font-size: 1rem !important

.icon-list-color
  color: #FCAD53 !important
  font-size: 0.65rem !important
  margin-top: 6px !important
  margin-right: 8px !important

.pasos-a.color-primario .pasos-a__circle
  background-color: #FF7027 !important

.pasos-a.color-primario .pasos-a__numero::after
  border-left-color: #62724A !important
  border-radius: 0px

.pasos-a.color-primario .pasos-a__linea__esquina__linea
  border-color: #62724A !important
  border-radius: 0px
.pasos-a.color-primario .pasos-a__linea .hor-line
  border-top-color: #62724A !important
  border-radius: 0px

.barra-avance__boton--regresar span
  color: #fff !important
